#container {
  display: flex;
  flex-direction: column;
  .motor-bike-container {
    width: 400px;

    img {
      width: 100%;
      object-fit: contain;
    }
    .motor-bike-price-hidden {
      visibility: hidden;
    }
    .motor-bike-price-show {
      visibility: visible;
    }
  }
}
